server:
  type: simple
  applicationContextPath: /
  adminContextPath: /private
  connector:
    type: http
    port: 8080

env: test

streamValidatorConfig:
  className: com.homeaway.streamingplatform.streamregistry.extensions.validation.EmptyStreamValidator

schemaManagerConfig:
  className: com.homeaway.streamingplatform.streamregistry.extensions.schema.ConfluentSchemaManager
  properties:
    schema.registry.url: http://localhost:8081

kafkaProducerConfig:
  kafkaProducerProperties:
    bootstrap.servers: localhost:9092
    acks: all
    retries: 4
    batch.size: 1
    linger.ms: 1
    buffer.memory: 33554432
    schema.registry.url: http://localhost:8081

kafkaStreamsConfig:
  kstreamsProperties:
    application.id: stream-registry-streams
    bootstrap.servers: localhost:9092
    key.serde: io.confluent.kafka.streams.serdes.avro.SpecificAvroSerde
    value.serde: io.confluent.kafka.streams.serdes.avro.SpecificAvroSerde
    schema.registry.url: http://localhost:8081
    replication.factor: 1
    num.stream.threads: 2

topicsConfig:
  producerTopic: _streamregistry_streams_v0.1
  stateStoreName: _streamregistry_streams_kv_v0.1

infraManagerConfig:
  className: com.homeaway.streamingplatform.streamregistry.provider.impl.KafkaInfraManager
  config:
    infraManagerTopic: _streamregistry_infra_v0.1
    infraManagerStateStoreName: _streamregistry_infra_kv_v0.1
    infraKStreamsProperties:
      application.id: stream-registry-infra
      bootstrap.servers: localhost:9092
      key.serde: io.confluent.kafka.streams.serdes.avro.SpecificAvroSerde
      value.serde: io.confluent.kafka.streams.serdes.avro.SpecificAvroSerde
      schema.registry.url: http://localhost:8081
      replication.factor: 1

logging:
  level: INFO
  loggers:
    com.homeaway: DEBUG
  appenders:
    - type: console
      logFormat: "[%d{HH:mm:ss.SSS}] [%t] %-6level %logger{5} - %X{code} %msg %n"

swagger:
  resourcePackage: com.homeaway.streamingplatform.streamregistry.resource
  title: Stream Registry API
  version: v0
  description: Stream Registry API
  contact: stream-registry-committers@groups.homeawaycorp.com
  scan: true

httpClient:
  timeout: 10000ms
  connectionTimeout: 10000ms
  connectionRequestTimeout: 10000ms