<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>${env.SONATYPE_TOKEN}</username>
            <password>${env.SONATYPE_CREDENTIAL}</password>
        </server>
        <server>
            <id>gpg-sign</id>
            <username>${env.GPG_KEYNAME}</username>
            <password>${env.GPG_KEYPASSPHRASE}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>signed</id>
            <properties>
                <gpg.keyname>${env.GPG_KEYNAME}</gpg.keyname>
                <gpg.passphraseServerId>gpg-sign</gpg.passphraseServerId>
            </properties>
        </profile>
    </profiles>
</settings>