<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.SONATYPE_TOKEN}</username>
      <password>${env.SONATYPE_CREDENTIAL}</password>
    </server>
    <server>
      <id>travisci-gpg</id>
      <passphrase>${env.GPG_KEYPHRASE}</passphrase>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>signed</id>
      <properties>
        <gpg.keyname>${env.GPG_KEYNAME}</gpg.keyname>
        <gpg.passphraseServerId>travisci-gpg</gpg.passphraseServerId>
        <gpg.useagent>false</gpg.useagent>
      </properties>
    </profile>
  </profiles>
</settings>
