# see https://projectlombok.org/features/configuration

# TODO: Please revisit following hack after this issue is fixed https://github.com/rzwitserloot/lombok/issues/1704
# HACK - this was added to fix this problem with StreamClient Producer/Consumer to unblock openjdk11 dev
lombok.noArgsConstructor.extraPrivate = false